@use '../../styles/variables/colors' as *;

.certifications-page {
  min-height: 100vh;

  main > section:not(:first-child) {
    position: relative;
  }

  main > section:not(:first-child)::before {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;

    width: min(100% - 2rem, 1320px);
    height: 1px;

    background: rgba($white, 0.045);

    transform: translateX(-50%);
  }
}